[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	editor = codium
[alias]
	amend = commit -s --amend
	cm = commit -s -m
	commit = commit -s
	c = commit -s
	last = log -1 HEAD
[color]
	ui = true
[user]
	email = samy@nastuzzi.fr
	name = NastuzziSamy

[includeIf "gitdir:~/Git/"]
	path = .gitconfig-github
[includeIf "gitdir:~/Projects/Laramore/"]
	path = .gitconfig-github
[includeIf "gitdir:~/Projects/BricAVrac/"]
	path = .gitconfig-bricavrac
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[init]
	defaultBranch = master
